.container {
    display: grid;
    grid-template-columns: auto 1fr;
    /* margin-top: 20vh; */
    /* margin: 20vh 4rem 0 4rem; */
    margin: 20vh auto 0 auto;
    width: min(1000px, 90vw);
    background-color: var(--color-white);
    border-radius: var(--nav-border-radius);
}

.illustration {
    column-width: 30rem;
}

.illustration img {
    display: block;
    height: 40rem;
    width: 100%;
    max-width: 30rem;
    border-radius: var(--nav-border-radius);
}

.loginContainer {
    text-align: center;
    margin-top: 4rem;
}

.title p {
    margin-top: 2rem;
}

.form {
    display: flex;
    text-align: left;
    justify-content: center;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        /* height: 60vh; */
    }
    .illustration {
        display: none;
    }
}