

.hero {
    margin-top: 9rem;
    height: 50vh;
    width: 100vw;
    background-color: var(--color-background);
}

.overallProducts {
    margin: 4rem;
}

.listTitle {
    margin-bottom: 2rem;
}



