.navLayout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 1.25rem 2.5rem 0 2.5rem;
    padding: var(--nav-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--nav-border-radius);
    background-color: var(--nav-color);
    backdrop-filter: blur(20px);
    height: 60px;
    z-index: 1;
}